<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batch.batch_flutter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:debuggable="true">

        <activity
            android:name=".TestActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Used in ManifestReaderTest -->
        <meta-data android:name="tests_string"
            android:value="stringvalue" />

        <meta-data android:name="tests_bool"
            android:value="true" />

    </application>

</manifest>
