## If you update this file, copy the changes to .pubignore

.DS_Store
.dart_tool/

.packages
.pub/

build/
/.gradle

# API Documentations
/api_docs/flutter-api-reference
/api_docs/flutter-android-api-reference
/api_docs/flutter-ios-api-reference

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Sample stuff
/example/android/app/google-services.json
/example/android/key.properties
/example/android/GeneratedPluginRegistrant.java
/example/android/local.properties
